@model HivelyCoreMVC.Data.Entities.Note

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Note</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="OwnerId" class="control-label"></label>
            <input asp-for="OwnerId" class="form-control" />
            <span asp-validation-for="OwnerId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="NoteTitle" class="control-label"></label>
                <input asp-for="NoteTitle" class="form-control" />
                <span asp-validation-for="NoteTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteDate" class="control-label"></label>
                <input asp-for="NoteDate" class="form-control" />
                <span asp-validation-for="NoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteContent" class="control-label"></label>
                <input asp-for="NoteContent" class="form-control" />
                <span asp-validation-for="NoteContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfNote" class="control-label"></label>
                <select asp-for="TypeOfNote" class="form-control" asp-items="Html.GetEnumSelectList<HivelyCoreMVC.Data.Entities.NoteType>()"><option>Note Type...</option></select>

                <span asp-validation-for="TypeOfNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobType" class="control-label"></label>
                <select asp-for="JobType" class="form-control" asp-items="Html.GetEnumSelectList<HivelyCoreMVC.Data.Entities.Job>()"><option>Type of Job...</option></select>

                <span asp-validation-for="JobType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HiveRating" class="control-label"></label>
                <select asp-for="HiveRating" class="form-control" asp-items="Html.GetEnumSelectList<HivelyCoreMVC.Data.Entities.Rating>()"><option>Hive Health...</option></select>

                <span asp-validation-for="HiveRating" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="HiveId" class="control-label"></label>
                <select asp-for="HiveId" class="form-control" asp-items="@(new SelectList(@ViewBag.ListOfHives, "Id", "Name" ))"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="QueenId" class="control-label"></label>
                <select asp-for="QueenId" class="form-control" asp-items="ViewBag.QueenId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
            </div>
            @*<div class="fileForm" enctype="multipart/form-data" method="post" action="/note/upload">
            <label asp-for="FilePath" class=" = control-label">Select Image</label>
            <input asp-for="FilePath" class="form-control" />
            <input type="file" name="file" />
            <input type="submit" />
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" asp-controller="Note" asp-action="Index">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files</p>
                    <input type="file" name="files"multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
